@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: red;
  font-family: Merriweather !important;
  @apply hover:text-secClr dark:hover:text-mainclr;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition-duration: 100ms;
}

/* width */
::-webkit-scrollbar {
  @apply bg-transparent w-[6px];
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-secClr dark:bg-mainclr rounded-lg;
}
